<h4>Outlook Emails</h4>

<button *ngIf="!showSpinner" mat-raised-button color="primary" (click)="getEmails()">Get Outlook Emails</button>
<mat-spinner  [diameter]="40" *ngIf="showSpinner"></mat-spinner>

<div *ngIf="mailsLoaded" style="margin-top: 20px;">
      <div *ngFor="let mail of mails"  (click)="mailClicked(mail)" style="margin:10px;">
        <span>{{mail.subject}} </span></div>
</div>



